body{
    font-family: 'Bitter', serif;
    background-color:rgb(233, 229, 229)
}
#table{
    font-weight: bold
}
#information{
    margin-top: 10px;
}
#foot{
    text-align:center
}
.card-header{
    background-color: mediumaquamarine;
}
#jumbo{
    background-color: mediumaquamarine;
    border: solid 2px black;
}
.card-body{
    border: black 2px solid;
}
#button{
    background-color: mediumaquamarine;
    color: black;
    border: black solid 1px;
}